@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

.corpo{
    background-color: #FAFAFA;
    width: 100%;
}

h4{
    font-style: normal;
    font-size: 14px;
    font-weight: 16px;
    line-height: 16px;
}

strong{
    font-weight: bold;
}

.topo{
    background-color: #FFFFFF;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    border: 1px solid #DBDBDB;

    z-index: 2;
}

.topo-mobile{
    display: none;
}

.topo div{
    display: flex;
    align-items: center;
}

.logo-insta img{
    width: 103px;
    height: 29px;
}

.vl {
    margin: 0 10px;
    border-left: 1px solid #DBDBDB;
    height: 22px;
  }

.pesquisar{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB ;
    border-radius: 3px;
    justify-content: center;
    color: #979797;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}


.menu-icones ion-icon{
    margin: 0 5px;
}

.container-conteudo{
    display: flex;
    margin-top: 88px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:  #FAFAFA;
}

.conteudo{
    background-color: #FAFAFA;
    width: 935px;
    display: flex;
    justify-content: center;
}

.bottom-left{
    flex-direction: column;
}

.stories{
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    position: relative;
}


.stories-mobile{
    background-color: #FFFFFF;
    width: 100%;
    height: 118px;
    align-items: center;
    overflow: hidden;
    display: none;
}

.story{
    width: 62px;
    height: 62px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
    border-radius: 100%;
    /*background: 
    radial-gradient(rgba(0,0,0,0.15) 60%, transparent 0),
    radial-gradient(white 65%, transparent 0),
    linear-gradient(to  top right, orange, deeppink);*/
    /*background-image: url(/resources/stories_background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/

}

.story img{
    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.stories ion-icon{
    font-size: 25px;
    position: absolute;
    z-index: 1;
    bottom: 25;
    right: 0;
    color: gray;
}

.story p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
}

.posts{
    width: 614px;
    margin-top: 24px;
}


.post{
    width: 614px;
    height: 749px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: column;

    
}


.post-topo{
    width: 100%;
    height: 67.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-topo div{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.post-topo ion-icon{
    font-size: 20px;
    color: #494646;
}

.post-topo-img{
    background-color: black;
    width: 32px;
    height: 32px;

    border-radius: 100%;
}

.post-topo img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}


.post-image{
    width: 100%;
    height: 612px;
    background-color: black;
    object-fit: cover;
}

.post-image video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-bottom{
    width: 100%;
    height: 67.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.post-bottom-um{
    display: flex;
    justify-content: space-between;
}

.post-bottom ion-icon{
    margin: 0 5px;
}

.post-bottom h4{
    margin: 0 5px;
}

.post-bottom-dois{
    display: flex;
    margin: 5px 0;
}

.post-bottom-dois img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.bottom-right{
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
}

.sidebar{
    width: 293px;
    background-color: #FAFAFA;
}

.sidebar-topo{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sidebar-topo-texto{
    margin: 0 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.sidebar-topo-texto p{
    font-weight: 300;
    font-style: normal;
    size: 14px;
    line-height: 16.41px;
}

.sidebar-topo img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    
}

.texto-cinza{
    color: #b7b7b7;
}

.sidebar-middle-top{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sugestoes-pra-voce{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

h5{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.sidebar-middle-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.sidebar-middle-bottom div{
    display: flex;
}

.seguir{
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.perfis{
    display: flex;
    flex-direction: column;
}

.segue-voce{
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.sidebar-middle-bottom img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 10px;
}

.perfis-sidebar{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.sobre-ajuda{
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #c7c7c7;
    margin: 20px 0;
}

.barra-inferior{
    display: none;
}


@media (max-width: 935px){
    .sidebar{
        display: none;
    }

    .topo{
        justify-content: space-between;
        padding: 20px;
    }
}

@media (max-width: 614px){
    .bottom-right{
        display: none;
    }

    .sidebar{
        display: none;
    }

    .corpo{
        width: 100%;
    }

    .stories{
        display: none
    }

    .container-conteudo{
        margin-top: 54px;
        margin-bottom: 10px;
    }

    .conteudo{
        width: 100%;
    }

    .topo{
        display: none;
    }

    .topo-mobile{
        background-color: #FFFFFF;
        padding: 0 20px;
        display: flex;
        width: 100%;
        height: 54px;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
    
        border: 1px solid #DBDBDB;
    }

    .bottom-left{
        width: 100%;
    }

    .container-stories-mobile{
        width: 100%;
    }

    .stories-mobile{
        display: flex;
        border: hidden;
    }
    
    .posts{
        width: 100%;
        margin-top: 10px
    }

    .post{
        width: 100%;
    }

    .post-image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .barra-inferior{
        display: flex;
        width: 100%;
        height: 54px;
        background-color: #FFFFFF;
        
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
    
        border: 1px solid #DBDBDB;
    
        z-index: 1;
    }
}